.signup-btn{
    user-select: none;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-bottom: 7px solid #6b53ce;
    color: black;
    border-radius: 40px;
    min-width: 200px;
    font-size: 1rem;
    font-weight: 900;
    outline: none;
    padding: 16px 40px;
    display: block;
    margin: 25px 0;
    cursor: pointer;
    margin-top: 35px;
}

.signup-btn:active{
    background-color: black;
    color:white;
}