.verticalicontext
{

}

.verticalicontext__img
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 6rem;
    height: 6rem;
}

.verticalicontext__devider
{
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: block;
}

@media (max-width:991px)
{
    .verticalicontext__devider
    {
        border-bottom: 1px solid #efeff1;
    }
}