.signup {
  color: white;
  background-color: rgb(120, 94, 240);
}

.container{
  max-width: 960px!important;
}


@media (max-width:991px){
  .container{
    max-width:720px!important;
  }
}


@media (max-width:765px){
  .container{
    max-width:476px!important;
  }
}


