@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova-Regular"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-Regular.woff2")
      format("woff2"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova-RegularItalic"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-RegularItalic.woff2")
      format("woff2"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-RegularItalic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova-Medium"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-Medium.woff2")
      format("woff2"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova-MediumItalic"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-MediumItalic.woff2")
      format("woff2"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova-Bold"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-Bold.woff2")
      format("woff2"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova-BoldItalic"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-BoldItalic.woff2")
      format("woff2"),
    url("https://cdn.lyft.com/static/coreui/ProximaNova-BoldItalic.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}

body {
  margin: 0;
  font-family: "ProximaNova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #0c0b31;
  margin: 0;
}

* {

  box-sizing: border-box;
}

h3 {
  cursor: pointer;
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
h2 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 2rem;
  margin: 0;
}

.footer {
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  display: flex;
  font-family: "ProximaNova", sans-serif;
}

.footer a {
  text-decoration: underline;
  color: black;
}
